<div style="max-width: 960px; padding:30px;">
  <!--
 style="width:956px; height:693px;"
 -->
  <div class="page">
    <div class="page-header ng-scope">
      <div class="page-header">상담신청</div>
    </div>

    <div class="page-body ng-scope" style="padding:10px;">
      <div class="row">
        <div class="col-md-12">{{counsel.msg}}</div>
      </div>
    </div>

    <div class="page-footer ng-scope">
      <button class="btn btn-default btn-ef btn-ef-6 btn-ef-6a mb-10" onclick="open(location, '_self').close(); self.close();"><i
        class="fa fa-times"></i>{{ 'Menu.CLOSE' | translate }}
      </button>
    </div>
  </div>
</div>
