<div class="modal-content wd80p">
  <div class="modal-header ng-scope">
    <h3 class="page-header">기준총점 관리</h3>
  </div>


  <form id="form1" name="form1">
    <div class="modal-body ng-scope">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
          <div class="form-group form-inline">
            <label>설문유형</label>
            <input type="text" class="form-control form-right" ng-model="vc.srch.SvyTypeNm" readonly>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="dataloader" ng-show="vc.dataloader"></div>
          <div class="row">
            <div class="col-lg-12">
              <div class="pull-right" style="height: 100%">
                <div class="form-group">
                  <button type="button" class="btn btn-default" ng-click="vc.addNew()">
                    <i class="fa fa-table"></i> 추가
                  </button>
                </div>
              </div>
            </div>
          </div>
          <table id="searchTextResults" data-filter="#filter" class="table table-striped table-bordered table-hover data_table table-custom"
          data-page-size="100" width="100%">
            <!-- Header -->
            <thead>
              <tr>
                <th ng-if="vc.secLen >= 1" class="text-center"><select class="form-control" ng-model="vc.secHeader[0]" ng-options="sec.QstSecId as sec.QstSecNm for sec in vc.qstSecList" disabled></select></th>
                <th ng-if="vc.secLen >= 2" class="text-center"><select class="form-control" ng-model="vc.secHeader[1]" ng-options="sec.QstSecId as sec.QstSecNm for sec in vc.qstSecList" disabled></select></th>
                <th ng-if="vc.secLen >= 3" class="text-center"><select class="form-control" ng-model="vc.secHeader[2]" ng-options="sec.QstSecId as sec.QstSecNm for sec in vc.qstSecList" disabled></select></th>
                <th ng-if="vc.secLen >= 4" class="text-center"><select class="form-control" ng-model="vc.secHeader[3]" ng-options="sec.QstSecId as sec.QstSecNm for sec in vc.qstSecList" disabled></select></th>
                <th ng-if="vc.secLen == 5" class="text-center"><select class="form-control" ng-model="vc.secHeader[4]" ng-options="sec.QstSecId as sec.QstSecNm for sec in vc.qstSecList" disabled></select></th>
                <th class="text-center">최종등급</th>
                <th class="text-center">삭제</th>
                <th class="text-center">끝맺음말</th>
              </tr>
            </thead>
            <!-- /Header -->
            <!-- Result Rows -->
            <tr ng-repeat="li in vc.lists" style="cursor: pointer;" my-directive>
              <!-- Result Items -->
              <td ng-if="vc.secLen >= 1">
                <select class="form-control" ng-model="li.LvCd01" ng-options="lv.LvCd as lv.LvCd for lv in vc.lvList[0]" required>
                  <option value="">---- 선택 ----</option>
                </select>
              </td>
              <td ng-if="vc.secLen >= 2">
                <select class="form-control" ng-model="li.LvCd02" ng-options="lv.LvCd as lv.LvCd for lv in vc.lvList[1]" required>
                  <option value="">---- 선택 ----</option>
                </select>
              </td>
              <td ng-if="vc.secLen >= 3">
                <select class="form-control" ng-model="li.LvCd03" ng-options="lv.LvCd as lv.LvCd for lv in vc.lvList[2]" required>
                  <option value="">---- 선택 ----</option>
                </select>
              </td>
              <td ng-if="vc.secLen >= 4">
                <select class="form-control" ng-model="li.LvCd04" ng-options="lv.LvCd as lv.LvCd for lv in vc.lvList[3]" required>
                  <option value="">---- 선택 ----</option>
                </select>
              </td>
              <td ng-if="vc.secLen == 5">
                <select class="form-control" ng-model="li.LvCd05" ng-options="lv.LvCd as lv.LvCd for lv in vc.lvList[4]" required>
                  <option value="">---- 선택 ----</option>
                </select>
              </td>
              <td><select class="form-control" ng-model="li.LvCd" ng-options="cd.Code as cd.CodeValue for cd in vc.scoreLvList" required>
                <option value="">---- 선택 ----</option>
              </select></td>
              <td class="text-center"><input type="checkbox" ng-model="li.DelYN" ng-change="vc.checkChanged(li)" ng-true-value="'Y'" ng-false-value="'N'" /></td>
              <td class="text-center" style="width:15%">
                <button type="button" class="btn btn-success btn-min" ng-if="li.isNew != 'Y'" ng-click="vc.goEditLvCont(li.KeyId)">
                  <i class="fa fa-edit"></i>> 미니결과</i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="modal-footer ng-scope">
      <button class="btn btn-primary mb-10" ng-click="vc.saveList()">
        <i class="fa fa-check"></i> 저장
      </button>
      <button class="btn btn-default mb-10" ng-click="vc.closeWin()">
        <i class="fa fa-times"></i> 닫기
      </button>
    </div>

  </form>
</div>
