<div class="modal-content">
  <div class="modal-header ng-scope">
    <div class="page-header">분기 설정 {{wjmSurvey.getQstTypeNm(vc.qt.QstType)}}</div>
  </div>

  <div class="modal-body ng-scope">

    <!-- 선택형, 분류정보 -->
    <div ng-if="vc.qt.QstType == '1' || vc.qt.QstType == '4' || vc.qt.QstType == 'C'">
      <div class="row" style="padding-bottom:10px;">
        <div class="col-xs-8">
          <span class="form-control" readonly="">{{vc.qt.QstNo}}. {{vc.qt.QstSubject}}</span>
        </div>
        <div class="col-xs-4">
          <select class="form-control" ng-model="vc.qt.GoToQstId" ng-options="li.qtId as li.gotoTxt for li in vc.gotoList" ng-change="vc.chgQstGotoList()">
            <option value="">--문항분기 선택--</option>
          </select>
        </div>
      </div>

      <div style="background-color: #f4f4f4; padding:10px;">
        <div class="row" ng-repeat="it in vc.it" style="padding-bottom:5px;">
          <div class="col-xs-8">
            <span class="form-control" readonly="">{{it.QstItemNo}}. {{it.QstItemContents}}</span>
          </div>
          <div class="col-xs-4">
            <select class="form-control" ng-model="it.GoToQstId" ng-options="li.qtId as li.gotoTxt for li in vc.gotoList" ng-change="vc.chgQstItemGotoList($index)">
              <option value="">--{{it.QstItemNo}}. 보기분기 선택--</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer ng-scope">
    <button class="btn btn-primary mb-10" ng-click="vc.apply()">
      <i class="fa fa-save"></i> 적용
    </button>
    <button class="btn btn-default btn-ef btn-ef-6 btn-ef-6a mb-10" ng-click="vc.close()"><i
      class="fa fa-times"></i>{{ 'Menu.CLOSE' | translate }}
    </button>
  </div>
</div>
