<div class="page page-footable" ng-controller="BbsMasterEditCtrl as vc" >
  <div class="dataloader" ng-show="vc.dataloader"></div>
  <!-- page header -->
  <div class="row" ng-if="vc.layout == 'N'">
    <div class="col-lg-12"><h3 class="page-header">{{ 'Menu.EM630' | translate }}</h3></div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /page header -->
  <!-- page content -->
  <div class="pagecontent" file-dropzone>
    <!-- Action Buttons -->
    <div class = "row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-group">
        <div class="pull-right">
          <button class="btn btn-default" activate-button ng-click="vc.goList()" ng-if="vc.layout == 'N'">
            <i class="fa fa-list"></i> {{ 'Menu.LIST' | translate }}
          </button>
          <button class="btn btn-primary" activate-button ng-click="vc.setData()">
            <i class="fa  fa-save"></i> {{ 'Menu.SAVE' | translate }}
          </button>
        </div>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">

        <!-- tile -->
        <div class="panel panel-default tile" >

          <!-- tile header -->
          <div class="panel-heading tile-header">
              <strong style="letter-spacing: 0.5px;" class="ng-binding">{{ 'Menu.EDITDETAILINFORMATION' | translate }}</strong>
            <div class="pull-right">
              <a href="" tile-control-toggle=""> <i class="fa fa-minus fa-lg"></i></a>
            </div>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="panel-body collapse in">
            <form class="ng-pristine ng-valid" role="form">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>마스터아이디</label>
                    <input type="text" class="form-control form-right" ng-model="vc.data.BbsMasterId" readonly>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>게시판명</label>
                    <input type="text" class="form-control form-right" ng-model="vc.data.BbsNm">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>{{ 'Menu.EM630DC03' | translate }}</label>
                    <input type="text" class="form-control form-right" ng-model="vc.data.RegUserNm" readonly>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>{{ 'Menu.EM630DC04' | translate }}</label>
                      <input type="text" class="form-control form-right" ng-model="vc.data.RegDate" readonly>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>{{ 'Menu.REMARKS' | translate }}</label>
                    <input type="text" class="form-control form-right" ng-model="vc.data.Remark">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- /tile body -->

        </div>
        <!-- /tile -->

      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
    <!-- Action Buttons -->
    <div class = "row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-bottom btn-group">
          <div class="pull-right">
            <button class="btn btn-default" activate-button ng-click="vc.goList()" ng-if="vc.layout == 'N'">
              <i class="fa fa-list"></i> {{ 'Menu.LIST' | translate }}
            </button>
            <button class="btn btn-primary" activate-button ng-click="vc.setData()">
              <i class="fa  fa-save"></i> {{ 'Menu.SAVE' | translate }}
            </button>
          </div>
        </div>
      </div>

  </div>
  <!-- /page content -->

</div>
