<div class="page page-footable" ng-controller="H0102ListCtrl as vc">
  <!-- page header -->
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">{{vc.BbsNm}}
        <div class="pull-right dock-header-tx list-split">
          <span ng-click="vc.changeLayout('N')"><img src="assets/images/icon-sp-list.png" alt=""></span>
          <span ng-click="vc.changeLayout('V')"><img src="assets/images/icon-sp-rl.png" alt=""></span>
          <span ng-click="vc.changeLayout('H')"><img src="assets/images/icon-sp-tb.png" alt=""></span>
        </div>
      </div>
    </div>
  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="row">
    <div class="pagecontent fa-pane-wrap" pane-wrap-anchor="{{vc.anchor}}">
      <div fa-pane="" class="pane-root">
        <div fa-pane fa-pane pane-anchor="{{vc.anchor}}" pane-size="40% + 2px" pane-min="{{vc.paneMin}}" pane-max="80% + 2px" pane-handle="4">
          <div class="dataloader" ng-show="vc.dataloader"></div>
          <form ui-keypress="{13:'vc.getSearch()'}">
            <!-- 검색영역 -->
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-xg-6 col-xl-6 sz-search mb-0">
                <input class="mb5" ng-model="vc.srch.searchValue" placeholder="제목/내용 검색" type="text">
                <div class="search_action mb-5" ng-click="vc.getSearch()">
                  <span class="cursor"><i class="fa fa-search"></i></span>
                </div>
                <div class="search_layer mb-5" onclick="return fnOpenLayer();">
                  <span class="cursor" id="btn_layer_detail_search_open">상세<i class="fa fa-caret-down"></i></span>
                </div>
                <span class="search-condition-str" ng-bind-html="vc.SearchConditionStr"></span>

                <!-- 상세검색 창 -->
                <div class="search-detail-wrap" style="display: none;">
                  <div class="panel panel-default">
                    <div class="panel-heading">상세검색
                      <button activate-button="" class="btn btn-default mt-2 mr--2 pull-right"
                              onclick="return fnCloseLayer();">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <!-- 검색 대상 컬럼  -->

                        <div class="col-xs-12 col-sm-12 col-md-12 col-xg-12 col-xl-12">
                          <div class="form-group form-inner-label">
                            <input class="form-control form-right" ng-model="vc.srch.Title" type="text">
                            <label>{{ ::  'Menu.TITLE' | translate }}</label>
                          </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-xg-12 col-xl-12">
                          <div class="form-group form-inner-label">
                            <input class="form-control form-right" ng-model="vc.srch.Contents" type="text">
                            <label>{{ ::  'Menu.CONTENTS' | translate }}</label>
                          </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-xg-12 col-xl-12">
                          <div class="form-group form-inner-label">

                            <div class="input-group" ng-controller="DatepickerDemoCtrl">
                              <input class="form-control" clear-text="취소" close-text="닫기"
                                     current-text="오늘"
                                     datepicker-options="dateOptions"
                                     is-open="opened"
                                     ng-change="vc.srch.RegDateFrom = (vc.RegDateFrom | date: 'yyyy-MM-dd')"
                                     ng-model="vc.RegDateFrom"
                                     ng-required="false" placeholder="등록 시작일" type="text"
                                     uib-datepicker-popup="{{ :: format}}"/>
                              <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="open($event)" type="button">
                                  <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                              </span>
                            </div>

                          </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-xg-12 col-xl-12">
                          <div class="form-group form-inner-label">

                            <div class="input-group" ng-controller="DatepickerDemoCtrl">
                              <input class="form-control" clear-text="취소" close-text="닫기"
                                     current-text="오늘"
                                     datepicker-options="dateOptions"
                                     is-open="opened"
                                     ng-change="vc.srch.RegDateTo = (vc.RegDateTo | date: 'yyyy-MM-dd')"
                                     ng-model="vc.RegDateTo"
                                     ng-required="false" placeholder="등록 종료일" type="text"
                                     uib-datepicker-popup="{{ :: format}}"/>
                              <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="open($event)" type="button">
                                  <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                              </span>
                            </div>

                          </div>
                        </div>

                        <!-- 사용자정의 컬럼 검색 대상 컬럼  -->
                        <udc-search meta-list="vc.listColumns" meta-model="vc.srch"></udc-search>

                        <!-- 검색 대상 컬럼  -->
                      </div>
                      <!-- /row -->
                      <div class="row">
                        <!-- 검색 버튼   -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20 mb-10">
                          <button activate-button class="btn btn-info" ng-click="vc.getSearch()">
                            <i class="glyphicon glyphicon-search"></i> {{ :: 'Menu.SEARCH' | translate }}
                          </button>
                          <button class="btn btn-default" ng-click="vc.resetSearch()">
                            <i class="fa fa-refresh"></i> {{ :: 'Menu.RESETSEARCH' | translate }}
                          </button>
                          <button activate-button="" class="btn btn-default ng-binding pull-right"
                                  onclick="return fnCloseLayer();">
                            <i class="fa fa-times"></i> {{ :: 'Menu.CLOSE' | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- /panel-body -->
                  </div>
                  <!-- /panel -->
                </div>
                <!-- 상세검색 창 -->
              </div>
              <!-- /col -->

              <!-- 버튼 그룹 -->
              <div class="col-xs-6 col-sm-6 col-md-6 col-xg-6 col-xl-6">
                <div class="pull-right">
                  <button class="btn btn-default" activate-button ng-click="vc.getExcel()">
                    <i class="fa fa-file-excel-o"></i> {{ :: 'Menu.EXCEL' | translate }}
                  </button>
                  <button class="btn btn-primary" ng-click="vc.goEdit()">
                    <i class="fa fa-edit"></i> {{ :: 'Menu.ADD' | translate }}
                  </button>
                </div>
              </div>
            <!-- 버튼 그룹 -->
            </div>
          <!-- 검색영역 -->
          </form>

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-12">
              <!-- tile -->
              <div class="panel panel-default tile">
                <!-- tile header -->
                <div class="panel-heading tile-header">
                  <strong>{{ :: 'Menu.h0102' | translate }}</strong>
                  <div class="pull-right">
                    <a ng-href tile-control-toggle> <i class="fa fa-minus fa-lg"></i>
                    </a>
                  </div>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="panel-body collapse in">
                  <!-- Search Result -->
                  <table id="searchTextResults" data-filter="#filter" class="table table-striped table-bordered table-hover data_table table-custom" data-page-size="100" width="100%">
                    <!-- Header -->
                    <thead>
                      <tr>
                        <th ng-repeat="liCol in vc.listColumns" ng-click="vc.tablesort('T.'+liCol.ColumnPhysicalNm)" data-toggle="true" style="width: {{liCol.ListColumnWidth}}" class="text-center none">{{liCol.ColumnLogicalNm}}  <span class="{{vc.sortClass('T.'+liCol.ColumnPhysicalNm)}}"></span></th>
                      </tr>
                    </thead>
                    <!-- /Header -->
                    <!-- Result Rows -->
                    <tbody>
                      <tr ng-repeat="li in vc.lists" ng-click="vc.goDetail(li.BbsPostId)" style="cursor: pointer;" my-directive ng-class="{'bg-lightyellow':vc.keyId == li.BbsPostId}">
                        <!-- Result Items -->
                        <td class="{{liCol.ListColumnTextAlign}}" ng-repeat="liCol in vc.listColumns" class="">
                          {{liCol.ColumnPhysicalDataType != '40' ? (li[liCol.ColumnPhysicalAsNm] ? li[liCol.ColumnPhysicalAsNm] : li[liCol.ColumnPhysicalNm]) : (li[liCol.ColumnPhysicalNm] | utcToLocal:'yyyy-MM-dd h:mm a')}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-hidden col-xs-hidden  paging_pad">
                      <div class="form-group form-inline select-size-list">
                        <label> {{ :: 'Menu.LIST' | translate }} </label>
                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" ng-model="vc.srch.viewSize" ng-change="vc.changeViewSize()" ng-options="c for c in vc.listSize" class="input-sm">
                        </select>
                      </div>
                    </div>
                    <!-- Paging Bar -->
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 paging_pad">
                      <div class="paging dataTables_paginate pull-right">
                        <ul uib-pagination name="pagination" data-ng-if="vc.totalItems" ng-model="vc.currentPage" total-items="vc.totalItems" previous-text="{{'BTN.PAGINATION.PREV'|translate}}" next-text="{{'BTN.PAGINATION.NEXT'|translate}}" first-text="{{'BTN.PAGINATION.FIRST'|translate}}" last-text="{{'BTN.PAGINATION.LAST'|translate}}" ng-change="vc.pageChanged()" direction-links="true"
                          boundary-links="true" num-pages="vc.numPages" template-url="app/template/pagination.html" rotate="false" max-size="vc.maxSize" items-per-page="vc.viewSize"></ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /tile body -->
              </div>
              <!-- /tile -->
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->
        </div>
        <div fa-pane pane-min="600px" ng-if="vc.layout != 'N'" style="min-width: 600px">
          <ui-view>
            <div class="boardNothing">
              <div class="inner">
                <img src="assets/images/icon-write-line.svg" alt="" style="width: 70px; height:70px; text-align:center;">
                <p>목록에서 해당 제목을 선택하시면 내용을 보실 수 있습니다.</p>
              </div>
            </div>
          </ui-view>
        </div>
      </div>
    </div>
  </div>
  <!-- /page content -->
</div>
